body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    .class{
        background-color: #7783b4;
        box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
        height: 932px;
        width: 430px;
        padding: 20px;
        header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: white;
            .allbtns{
                i{
                    border: 1px solid white;
                    border-radius: 50%;
                    padding: 6px;
                }
            }
        }
        main{
            .info{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 15px;
                input{
                    margin-right: 10px;
                }
            }
            label{
                color: whitesmoke;
                padding-bottom: 5px;
            }
            .btn-primary{
                background-color: white;
                color: #7783b4;
            }
        }
    }
}